/**
  全局样式变量
*/

$primary: #74baff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
$text: #303133;
$default: #333;

$default_border: #dcdfe6;

$input_color: #505050;
$input_border: #d3d3d3;